<div id="explorer-search-container">
  <mat-form-field>
    <mat-icon id="explorer-search-icon" matPrefix>search</mat-icon>
    <label for="explorer-search"></label><input id="explorer-search" matInput type="search" placeholder="Type search string" class="search-input">
  </mat-form-field>
  <button mat-button class="control-panel-text-button" aria-label="Search">
    Search
  </button>
  <mat-radio-group aria-label="Select search option">
    <mat-radio-button value="1">Match case</mat-radio-button>
    <mat-radio-button value="2">Caseless</mat-radio-button>
    <mat-radio-button value="3">RegEx</mat-radio-button>
  </mat-radio-group>

</div>
