<mat-toolbar>
  <app-explorer-control-panel-button [text]="buttons[0].text" [icon]="buttons[0].icon" ></app-explorer-control-panel-button>
  <app-explorer-control-panel-button [text]="buttons[1].text" [icon]="buttons[1].icon" (click)="openUpload()"></app-explorer-control-panel-button>
  <app-explorer-control-panel-button [text]="buttons[2].text" [icon]="buttons[2].icon" ></app-explorer-control-panel-button>
  <app-explorer-control-panel-button [text]="buttons[3].text" [icon]="buttons[3].icon" ></app-explorer-control-panel-button>

</mat-toolbar>
