<mat-grid-list id="func-side-panel" cols="1" rowHeight="2vh">


  <mat-grid-tile [colspan]='1' [rowspan]='2'>
    <mat-grid-list cols="5" rowHeight="100%" style="width: 100%">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button (click)="closeFuncSidePanel()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='1' [rowspan]='1'>
    <mat-divider></mat-divider>
  </mat-grid-tile>


  <mat-grid-tile [colspan]='1' [rowspan]='2'>
    <input #fileInput type="file"  hidden="true" (change)="selectFiles($event)" readonly name="name"  multiple="multiple"/>

    <button mat-button (click)="fileInput.click()">
      Browse File
    </button>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='1' [rowspan]='2'>
    <!-- Browse Button -->
    <button mat-button [ngStyle]="{'display': isUploadButtonDisplayed ? 'inherit': 'none'}" (click)="startUpload()">
      Upload Files
    </button>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='1' [rowspan]='40'>
    <mat-list role="list" id="upload-files-list">
      <mat-list-item *ngFor="let name of fileNames" role="listitem">{{name}}</mat-list-item>
    </mat-list>
  </mat-grid-tile>




</mat-grid-list>
