
 <mat-grid-list  id="func-side-panel-upload"  cols="1" rowHeight="2vh" style="width: 100%">
    <mat-grid-tile [colspan]='1' [rowspan]='2'>
      <input #fileInput type="file"  hidden="true" (change)="selectFiles($event)" readonly name="name"  multiple="multiple"/>

      <button mat-button (click)="fileInput.click()">
        Browse File
      </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]='1' [rowspan]='2'>
      <button mat-button  [disabled]="isUploadButtonDisabled" (click)="startUpload()">
        Upload Files
      </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]='1' [rowspan]='40'>
      <mat-list role="list" id="upload-files-list">
     <app-func-side-panel-file-ticket *ngFor="let name of fileNames" [name]="name"></app-func-side-panel-file-ticket>
      <!--  <mat-list-item *ngFor="let name of fileNames" role="listitem">{{name}}</mat-list-item>-->
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

